[defaults]
inventory = ./inventory/dev
roles_path = ./roles
collections_path = ./collections
host_key_checking = False
pipelining = True

# --- CAMBIO 1: Fijamos el formato 'default' ---
stdout_callback = default

# --- CAMBIO 2 (Opcional): Limpieza visual ---
# Esto oculta las alertas de "Deprecation" (Python 3.12 warnings)
deprecation_warnings = False
# Esto oculta la alerta de "Discovered Python interpreter"
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
